body {
	background-image: url("/img/music.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
}

#splash{
	background-color: 
	border: 1px solid black;
}

.list{
	color: black;
}

.back{
	background-color:rgba(150,150,150,.8);
}

.fun{
	
	margin-right: 4px;
	
}

.pageName{
	color: white;
}

/*.fill {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.fill img {
	flex-shrink: 0;
	min-width: 100%;
	min-height: 100%;
}*/

.fill img {
	max-width: 140px;
}